{
	"singleQuote": true,
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-brace-style"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"braceStyle": "stroustrup"
}
