@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  background-color: #f6f7f9;
}
.bp5-navbar-heading a {
  color: inherit;
}
.bp5-navbar-heading a:hover {
  text-decoration: none;
}